html,
body {
  margin: 10;
  padding: 10;
  background: rgb(87, 10, 242);
  background: linear-gradient(
    45deg,
    rgba(87, 10, 242, 1) 27%,
    rgba(119, 109, 227, 1) 100%
  );
  font-family: "VT323", monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  background-color: white;
  box-shadow: 3px 4px 100px rgba(253, 253, 253, 0.4);
}

.square {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: lightsteelblue;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: rgba(87, 10, 242, 1);
}

.power-pellet {
  background-color: lightcoral;
  border-radius: 7.5px;
}

.pacman {
  background-color: yellow;
  border-radius: 7.5px;
  box-sizing: border-box;
  border: black solid 1px;
}

.ghost-lair {
  background-color: #ccc;
}

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: blueviolet;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: aquamarine;
  border: none;
}

/* layout and typography */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  color: white;
}

/* button */
button {
  font-family: "VT323", monospace;
  font-size: 2em;
  background-color: #b18bfc;
  color: white;
  margin: 2em;
  padding: 0.3rem 1.2rem;
  border-radius: 15px;
  border: none;
}

button:hover,
button:focus {
  background-color: #776de3;
}

button:active {
  transform: scale(1.5);
}
